{{ define "head" }}
  <title>Software You Can Love</title>
  <meta name="description" 
				content="a conference that celebrates the art of creating software for humans">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@croloris">
  <meta name="twitter:image" content="">
  <meta name="twitter:author" content="@croloris">
  <meta name="twitter:description" 
				content="a conference that celebrates the art of creating software for humans">
  <meta name="twitter:title" content="Software You Can Love">
  <meta property="og:title" content="Software You Can love">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
{{ end }}
{{ define "main" }}
<style>
  h1,h2,h3 { text-align: center; }
  #footnote {
    margin-top: 70px;
    font-size: 0.8rem;
    text-align:center;
  }
</style>
<div>
  <h1 style="margin-bottom:0;"> Software You Can Love </h1>
  <h3 style="margin-top:0;"><i>
    a conference that celebrates the 
    art of creating software for humans
  </i></h3>
<div>
<p>
</p>
<p>
For some of us, <strong>creating software is an intimate act</strong>. 
We care deeply about the experience that results from our work, just 
like a painter or a musician takes pride in their art.
</p>
<p>
Software You Can Love conferences have a main day where you can 
expect to see talks about supporting the creation of music, 
generative art, cross-stitching, and more. Some talks will be 
about rethinking basic building blocks of computing, while 
others will tackle big questions, like "Does Technology Destroy 
Art?".
</p>
<p>
Unfortunately, <strong>a lot of software out there is not software you 
can love</strong>. Many of us are forced to write user-hostile software 
at work and elegant solutions are often discarded in the pursuit 
of extravagant business models. At Software You Can Love we also 
want to learn how to protect ourselves from dark patterns, both as 
software engineers and users. 
</p>
<p>
<strong>If you too want to celebrate the art of creating software for 
humans, come join us.</strong>
</p>

<p id="footnote"><i>
Software You Can Love was an expression originally created by Loris 
Cro in "<a href="https://kristoff.it/blog/the-open-source-game/">Playing the Open Source Game</a>" to describe a missing key quality in mainstream software production.
</i></p>
{{ end }}